<?xml version="1.0"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>


	<appSettings>
		<add key="InputFilePath" value="D:\input\"/>
		<add key="OutputFilePath" value="D:\output\"/>
		<add key="TranslatedInputFilePath" value="D:\translated\"/>
		
		
		
	</appSettings>

</configuration>
