<?xml version="1.0"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>


	<appSettings>
		<add key="InputFilePath" value="D:\input\"/>
		<add key="OutputFilePath" value="D:\output4\"/>
		<!--<add key="DownloadFolderPath" value="C:\Users\shruti.rakhe\Downloads\"/>-->
		<add key="DownloadFolderPath" value="C:\Users\shruti.rakhe\Downloads\"/>
		
		
	</appSettings>

</configuration>
